@using Website.Models
@{
    KHACHHANG kh = (KHACHHANG)Session["TaiKhoan"];
}
<style>
    .header-search form .input {
        width: calc(100% - 100px);
        margin-right: -4px;
        border-radius: 40px 0px 0px 40px;
    }
</style>
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container" style="padding-right: 70px; height: 30px;">
            <ul class="header-links pull-left" style="padding-top:10px;">
                <li><a href="#"><i class="glyphicon glyphicon-phone"></i> 0962579454</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> nguyenhuunhan3354@gmail.com</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-map-marker"></i>Thủ Dầu Một, Bình Dương</a></li>
            </ul>
            @if (Session["TaiKhoan"] == null)
            {
                <ul class="header-links pull-right" style="padding-top:10px;">
                    
                    <li><a href="@Url.Action("DangNhap", "User")"><i class="fa fa-user-o"></i> Tài khoản của tôi</a></li>
                </ul>
            }
            else
            {
                <ul class="header-links pull-right" style="padding-top:10px;">
                    
                    <li><a href="#"><i class="fa fa-user-o"></i> @kh.TenKH</a></li>
                    <li><a href="@Url.Action("DangXuat","User")"><i class="fa fa-sign-out"></i>Đăng xuất</a></li>
                </ul>
            }
        </div>
    </div>
    <!-- /TOP HEADER -->
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a class="logo" href="#"><img src="~/Images/logoweb.png" style="width:220px;display:block;" /></a>
                    </div>
                </div>
                <!-- /LOGO -->
                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">

                        @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @role = "search" }))
                        {
                            <input class="input" placeholder="Nhập từ khóa tìm kiếm..." name="name" value="@ViewBag.Search">
                            <button class="search-btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        }
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!-- ACCOUNT -->
                
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="@Url.Action("YeuThich","YeuThich")">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Yêu thích</span>
                                </a>
                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            <div class="dropdown">
                                <a href="@Url.Action("GioHang","GioHang")">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                    <span> Giỏ hàng</span>
                                </a>
                                @*
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="~/Images/product01.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="~/Images/product02.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small>3 Item(s) selected</small>
                                    <h5>SUBTOTAL: $2940.00</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="#">View Cart</a>
                                    <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                                *@
                                <!-- /Cart -->
                                <!-- Menu Toogle -->
                                <div class="menu-toggle">
                                    <a href="#">
                                        <i class="fa fa-bars"></i>
                                        <span>Menu</span>
                                    </a>
                                </div>
                                <!-- /Menu Toogle -->
                            </div>
                        </div>
                    </div>
                
                
                <!-- /ACCOUNT -->
            </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
</header>


