@model Website.Models.BINHLUAN
@using Website.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHI TIẾT</h2>

<div>
    <h4>Bình luận Đánh giá</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            Đánh giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhGia) sao
        </dd>

        <dt>
            Ngày bình luận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBinhLuan)
        </dd>

        <dt>
            Mã sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSP)
        </dd>
    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
